Source: maddash
Section: misc
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Build-Depends: debhelper (>= 10), openjdk-11-jdk | java8-jdk, maven, wget
Standards-Version: 3.9.8
Homepage: http://www.perfsonar.net
Vcs-Git: git://github.com/perfsonar/maddash
Vcs-Browser: https://github.com/perfsonar/maddash/tree/master

Package: maddash
Architecture: all
Depends: maddash-server, maddash-webui,
 perfsonar-psconfig-maddash, ${misc:Depends}
Description: Network monitoring server metapackage
 MaDDash is a framework for scheduling service checks and displaying results in
 a grid.
 .
 This package installs a default set of modules that can be used to
 perform basic maddash functions.

