[submodule "maddash-server/madalert"]
	path = maddash-server/madalert
	url = https://github.com/perfsonar/madalert 
[submodule "distribution"]
	path = distribution
	url = https://github.com/perfsonar/distribution.git
