#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# TODO: We should try to see if we can use maven-debian-helper
# as a build-depend to maybe make things easier here.
# (or maybe not, because then we need to stick to Debian Java
# libraries?)

# Setting a correct JAVA_HOME for the build
export JAVA_HOME=/usr

# main packaging script based on dh7 syntax
%:
	dh $@ --with systemd

override_dh_auto_build:
	mvn -DskipTests -Dmaven.repo.local=debian/maven-repo-local --projects common-libs,maddash-server clean package
	( cd maddash-webui; scripts/build_dojo.sh dojo-build )

override_dh_auto_install:
	mvn -DskipTests -Dmaven.repo.local=debian/maven-repo-local --projects common-libs,maddash-server clean package
